/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
        font-family: 'Work Sans' ;
}




.primary-btn{
    background: #FF42A5;
    border-radius: 30px;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-right: 10px;
}
.primary-btn1{
    background: #4EC5F7;
    border-radius: 30px;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

/* nav style */
nav{
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    margin: 38px 200px 39px 240px;
}
.logo{
    display: flex;
    gap: 10px;
}

nav ul  {
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 32px;
    font-size: 1.125rem;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: #3C354F;
}

.fa-youtube {
    color: #F61C0D;
    width: 33px;
    height: 24px;
    margin-left: 10px;
}
nav .follow{
    background: #DDDCE0;
    border-radius: 8px;
    padding: 5px;
  
}

.banner-section1 {
    background: #8C57EE0D;
}
.banner-section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 38px 200px 39px 200px;
}
.banner-section2{
    gap: 30px;
}

.banner-section2 .banner-content{
    
    line-height: 30px;
    text-align: right;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.banner-section-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-big-title{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
    

.banner-description{
color: #534C64;
text-align: justify;
font-size: 20px;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
}

.image-container2{
    width: 868px;
    height: 489px;
}

.banner-section2{
    display: flex;
    justify-content: space-evenly;
    margin: 55px 200px 39px 200px;
    
}

.banner-title{
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
















































/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .feature-img img{
        width: 90%;
        margin-left: 0;
    }

    .ten-years-badge{
        position: static;
        max-width: 300px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .features,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }
}